.item {
  display: flex;
  width: 100%;
  height: auto;
}

.item:nth-child(odd) {
  flex-direction: row-reverse;
}

.item:not(:first-child) {
  margin-top: 100px;
}

@media screen and (max-width: 1440px)
{
  .item:not(:first-child) {
    margin-top: 60px;
  }
}

@media screen and (max-width: 953px)
{
  .item:not(:first-child) {
    margin-top: 40px;
  }
}

@media screen and (max-width: 647px)
{
  .item {
    position: relative;
  }
  .item:not(:first-child) {
    margin-top: 20px;
  }
}