.skillsItems
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    height: 100%;
    margin: auto;
}

@media screen and (max-width: 672px) {
        .skillsItems
    {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: initial;
    }
}
